
<ion-view>
<!--导航条-->
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left">
            <h4 style="color: white">网易新闻</h4>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <a href="#/tabs/search" class="button icon-right ion-ios-search button-clear button-white"></a>
            <a href="#/tabs/live" class="button icon-right  ion-social-youtube-outline button-clear button-white"></a>
        </ion-nav-buttons>
    </ion-nav-bar>

<!--副导航条-->
    <ion-header-bar class="bar bar-subheader">

        <ion-scroll direction="x" scrollbar-x="false">
            <div class="barSlide">
                <h4 ng-repeat="scrollItem in scrollItems">{{scrollItem}}</h4>
            </div>
        </ion-scroll>
        <a class="button icon-left ion-ios-arrow-down button-clear button-dark" ng-click="openModal()"></a>

    </ion-header-bar>
<!--新闻内容-->
    <ion-content>

        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="doRefresh()"
                on-pulling="doSome()"
                spinner="lines"
                refreshing-text="正在刷新...">
        </ion-refresher>

        <ion-slide-box show-pager="false" style="margin-top: -20px" delegate-handle="mainSlideBox">
            <!--轮播图-->
            <ion-slide>
                <mg-slide-box source-array="news.adsArray"></mg-slide-box>
                <!--<mg-slide-box source-array="news.newsArray"></mg-slide-box>-->
                <ion-list ng-repeat="item in items" class="list">
                    <ion-item style="height: 100px" class="item item-thumbnail-left item-text-wrap">
                        <img src="{{item.imgsrc}}" alt="" style="width: 120px;height: 80px">
                        <span class="io">{{item.title}}</span>
                        <p>{{item.source}}</p>
                    </ion-item>
                </ion-list>
            </ion-slide>
            <!--<ion-slide>-->
                <!--<mg-slide-box source-array="news.newsArray"></mg-slide-box>-->
                <!--<ion-item ng-repeat="num in [1,2,3,4,5,6,1,1,1,1,1,1,1,1,1,1,1,1,1,1] track by $index">-->
                    <!--{{num}}-->
                <!--</ion-item>-->
            <!--</ion-slide>-->
            <!--<ion-slide>-->
                <!--<ion-item ng-repeat="num in [1,2,3,4,5,6,1,1,1,1,1,1,1,1,1,1,1,1,1,1] track by $index">-->
                    <!--{{num}}-->
                <!--</ion-item>-->
            <!--</ion-slide>-->
        </ion-slide-box>

        <ion-infinite-scroll
                on-infinite="loadMore('上拉')"
                distance="1%"
                spinner="android"
                icon="ion-home"
                immediate-check="false"
                ng-if="isShowInfinite">
        </ion-infinite-scroll>

    </ion-content>

</ion-view>