
<ion-view>

    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left">
            <h4 style="color: white">网易新闻</h4>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <a href="#/tabs/search" class="button icon-right ion-ios-search button-clear button-white"></a>
            <a href="#/tabs/live" class="button icon-right  ion-social-youtube-outline button-clear button-white"></a>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-header-bar class="bar bar-subheader">

        <ion-scroll direction="x" scrollbar-x="false">
            <div class="barSlide">
                <h4 ng-repeat="item in items">{{item}}</h4>
            </div>
        </ion-scroll>
        <a class="button icon-left ion-ios-arrow-down button-clear button-dark" ng-click="openModal()"></a>

    </ion-header-bar>

    <ion-content>

        <mg-slide-box data-source="{{numArray}}"></mg-slide-box>

    </ion-content>


    <!--<ion-nav-view name="tabs-news"></ion-nav-view>-->

</ion-view>